@font-face {
	font-family: "AliceDigitalLearning";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum.woff2")
		format("woff2");
	font-weight: normal;
	font-display: swap;
}
